{
    "extends": "google",

	"rules": {
		"quotes": [
			"error",
			"double"
		],
		"require-jsdoc": ["error", {
			"require": {
				"FunctionDeclaration": false,
				"MethodDefinition": false,
				"ClassDeclaration": false,
				"ArrowFunctionExpression": false
			}
		}],
		"camelcase": "off",
		"no-var": "off",
		"brace-style" : [
			"error",
			"stroustrup"
		],
		"max-len": ["error", {
			"code": 200,
			"tabWidth": 4,
			"ignoreUrls": true,
			"ignorePattern": ^./goog\.(module|require)/
		}]
	}
}
