{{> header title='카테고리별' cssName='category'}}

<div id="banner-wrap">
	<div id="banner-img">
		<div class="shading">
			<div class="img-box-text">
				<div class="caption">최고의 레스토랑을<br>음식 종류별로 쉽게 찾아보세요!</div>
				<div class="img-box-divider"></div>
				<div class="curator">Curated by Poing</div>
			</div>
		</div>
	</div>
</div>

<div id="po-contents">
	<section>
		<div class="section-title">음식 종류별 레스토랑</div>
		<div class="section-body">
			<div class="section-contents">
				<ul>

				</ul>
			</div>
		</div>
	</section>
</div>


{{> footer jsName='category'}}
