{{> header title='다이닝 티켓' cssName='dining.ticket'}}

<div id="banner-wrap">
	<div id="banner-img">
		<div class="shading">
			<div class="img-box-text">
				<div class="caption">포잉 다이닝 티켓을 통해 최고의 레스토랑들을<br>합리적인 가격에 만나보세요.</div>
				<div class="img-box-divider"></div>
				<div class="curator">Curated by Poing</div>
			</div>
		</div>
	</div>
</div>


<div id="po-contents">
	<section>
		<div class="section-body">
			<div class="section-contents">

				<ul class="ticket-list">
				</ul>

				<ul class="ticket-page">
					<li>≪</li>
					<li>＜</li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>＞</li>
					<li>≫<li>
				</ul>
			</div>
		</div>
	</section>
</div>


{{> footer jsName='dining.ticket'}}
