<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>포잉 홈</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="po-container">
	<header id="main-home-bar">
		<div id="main-home-logo">
			poing.hb
		</div>
		<div id="main-home-menu">
			<ul>
				<li>로그인</li>
				<li>회원가입</li>
			</ul>
		</div>
	</header>
	<div id="main-top">
		<div class="layer-dark">
			<div id="main-top-body">
				<div id="main-text">
					<p class="main-text-1">환영합니다!</p>
					<p class="main-text-2">
					서울, 부산, 그리고 그 이상<br>
					포잉이 전국서비스를 시작합니다.
					</p>
				</div>
				<div id="main-search-box">
					<div id="main-search-form">
						<p id="main-search-region">검색할 지역을 선택해보세요!</p>
						<i class="fa fa-map-marker"></i>
						<i class="fa fa-angle-down"></i>

						<ul class="search-regions">
							<li class="sc-seoul" data-enable="true">서울</li>
							<li class="sc-busan" data-enable="true">부산</li>
							<li class="sc-inceon" data-enable="false">인천</li>
							<li class="sc-daegu" data-enable="false">대구</li>
							<li class="sc-daejeon" data-enable="false">대전</li>
							<li class="sc-gwangju" data-enable="false">광주</li>
							<li class="sc-jeju" data-enable="false">제주</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="po-contents">
		<section class="section-home">
			<div class="content-title">
				<p class="content-text-1">포잉과 떠나는 국내 미식 투어</p>
				<p class="content-text-2">미식의 시작, 포잉과 함께 하세요.</p>
			</div>


			<div class="content-large-img">
				<div class="element large-region first">
					<a href="domain.html" class="img-seoul">
						<div class="shading"></div>
						<div class="center">
							<div class="caption">서울</div>
							<hr class="line">
							<div class="subtitle">SEOUL</div>
						</div>
					</a>
				</div>
				<div class="element large-region">
					<a href="domain.html" class="img-busan">
						<div class="shading"></div>
						<div class="center">
							<div class="caption">부산</div>
							<hr class="line">
							<div class="subtitle">BUSAN</div>
						</div>
					</a>
				</div>
			</div>


			<div class="content-small-img">
			<div class="element small-region first disable">
				<a class="img-incheon">
					<div class="shading"></div>
					<div class="center">
						<div class="caption">인천</div>
						<hr class="line">
						<div class="subtitle">INCEON</div>
					</div>
					<span class="disable-service">서비스<br>준비중입니다</span>
				</a>
			</div>
			<div class="element small-region disable">
				<a class="img-daegu">
					<div class="shading"></div>
					<div class="center">
						<div class="caption">대구</div>
						<hr class="line">
						<div class="subtitle">DAEGU</div>
					</div>
					<span class="disable-service">서비스<br>준비중입니다</span>
				</a>
			</div>
			<div class="element small-region disable">
				<a class="img-daejeon">
					<div class="shading"></div>
					<div class="center">
						<div class="caption">대전</div>
						<hr class="line">
						<div class="subtitle">DAEJEON</div>
					</div>
					<span class="disable-service">서비스<br>준비중입니다</span>
				</a>
			</div>
			<div class="element small-region disable">
				<a class="img-gwangju">
					<div class="shading"></div>
					<div class="center">
						<div class="caption">광주</div>
						<hr class="line">
						<div class="subtitle">GWANGJU</div>
					</div>
					<span class="disable-service">서비스<br>준비중입니다</span>
				</a>
			</div>
			<div class="element small-region disable">
				<a class="img-jeju">
					<div class="shading"></div>
					<div class="center">
						<div class="caption">제주</div>
						<hr class="line">
						<div class="subtitle">JEJU</div>
					</div>
					<span class="disable-service">서비스<br>준비중입니다</span>
				</a>
			</div>
			</div>
		</section>
	</div>

	{{> footer jsName='main'}}






